*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
  // overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  max-width: 1440px;
  margin-inline: auto;
  background-color: #131520;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.container {
  padding-inline: 80px;
  margin-inline: auto;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
