*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  box-sizing: inherit;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  max-width: 1360px;
  margin-inline: auto;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  width: auto;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}
